# /etc/systemd/system/tpp.service

[Unit]
Description=Tpp Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/tpp-admin/tpp/server
ExecStart=sudo server -c ./config-prod.toml start
Restart=always

[Install]
WantedBy=multi-user.target

